<neo-buttonbar width="80%">
  <neo-button start label=""></neo-button>
  <neo-button label="Swift / SwiftUI"></neo-button>
  <neo-button label="C# / .NET"></neo-button>
  <neo-button label="Japan"></neo-button>
  <neo-button label="Über mich"></neo-button>
  <neo-button label="Impressum" route="/info"></neo-button>
  <neo-button label="Sitemap"></neo-button>
  <neo-button end label=""></neo-button>
</neo-buttonbar>

<h1>H1 Main</h1>
<h2>H2 Main</h2>
<div>
  All of this and some of that the only way to skin the cat.
</div>
<h3>H3 Main</h3>
<div>
  All of this and some of that the only way to skin the cat.
</div>
<h4>H4 Main</h4>